body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  padding: 20px;
  width: 25%;
  background-color: #e0e0e0;
  font-size: 1.3em;
}

button:active {
  background-color: #c1c1c1;
}
.output {
  /* padding: 30px; */
  background-color: #989898;
  color: white;
  font-weight: 200;
  min-height: 93px;

  /* text-align: center; */
  font-size: 31px;
  margin: 0 auto;
  line-height: 3;
}

.calculator {
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
}
.button-50 {
  width: 50%;
}

.orange {
  background-color: #f5a140;
  color: white;
}
